@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=text] {
    font-size: 18px;
    background-image: url('img/search.svg');
    background-size: 9%;
    background-position: 15px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 60px;
}

.calendrier {
    background-image: url('img/calendrier.svg');
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: center;
    background-color: #1F1F45;
}

.calendrier:hover {
    @apply bg-bgik
}

.accueil1 {
    background-image: url('img/accueil.svg');
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: center;
    background-color: #BCE7F6;
}

.accueil1:hover {
    @apply bg-bleuik
}

.ojd, .j1, .j2, .j3, .j4 {
background: rgba(25, 25, 61, 0.5);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.2px);
-webkit-backdrop-filter: blur(8.2px);
}
